<div class="container mt-4">
  <div class="row">
    <!-- Left Part -->
    <div class="col-sm-4 mb-2">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.knownAs}}">
        <div class="card-body">
          <div style="margin-bottom: 10px;" class="text-success" *ngIf="(presence.onlineUsers$ | async).includes(user.username)">
            <i class="fa fa-user-circle"></i> Online Now
          </div>
          <div>
            <strong>Location: </strong>
            <p>{{user.city}}, {{user.country}}</p>
          </div>
          <div>
            <strong>Age: </strong>
            <p>{{user.age}}</p>
          </div>
          <div>
            <strong>Last Active: </strong>
            <p>{{user.lastActive | timeago}}</p>
          </div>
          <div>
            <strong>Member since: </strong>
            <p>{{user.created | date:'longDate'}}</p>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-primary mr-2"><i class="fa fa-plus mr-1"></i>Add</button>
            <button class="btn btn-success" (click)="selectTab(3)"><i class="fa fa-envelope mr-1"></i>Message</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Right part -->
    <div class="col-sm-8">
      <div class="tab-pannel">
        <tabset class="member-tabset" #memberTabs>
          <tab heading="About {{user?.knownAs}}" (selectTab)="onTabActivated($event)">
            <h4>Description</h4>
            <p>{{user.introduction}}</p>
            <h4>Looking for</h4>
            <p>{{user.lookingFor}}</p>
          </tab>
          <tab heading="Interests" (selectTab)="onTabActivated($event)">
            <h4>Interests</h4>
            <p>{{user.interests}}</p>
          </tab>
          <tab heading="Photos" (selectTab)="onTabActivated($event)">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
          </tab>
          <tab heading="Messages" (selectTab)="onTabActivated($event)">
            <app-member-messages [username]="user.username"></app-member-messages>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>